<%- include("../partials/header.ejs") %> <%-
include("../partials/offcanvas.ejs") %>
<main>
  <%- include("../partials/main.ejs") %>

  <div class="mycard mt-5 pt-3">
    <h1>Announcements</h1>
    <p class="lead mt-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, omnis?
    </p>
    <hr />
    <p class="lead mt-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum impedit,
      aliquam vitae et quasi quidem id placeat facere! Omnis, deleniti?
    </p>
    <hr />
    <p class="lead mt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
      consectetur, repudiandae assumenda praesentium nemo voluptates!
    </p>
    <hr />
    <p class="lead mt-3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
      consectetur ab dignissimos at sapiente ipsa repudiandae ipsum nobis, rerum
      cum ducimus sint, eligendi in eius, magni explicabo quis? Beatae eum
      laboriosam dicta consectetur magnam at odio et ea culpa atque!
    </p>
    <hr />
    <p class="lead mt-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque officiis
      maiores molestiae perferendis magni quia at odit consectetur
      exercitationem ullam.
    </p>
    <hr />
    <p class="lead mt-3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
      praesentium!
    </p>
    <hr />
  </div>
</main>
<%- include("../partials/footer.ejs") %>
