<%- include("../partials/header.ejs") %> <%-
include("../partials/offcanvas.ejs") %>
<main>
  <%- include("../partials/main.ejs") %>
  <div class="mycard mt-5 pt-3">
    <h1 class="mb-3">Assignments</h1>
    <ul class="mycard">
      <li onclick="window.location = '/assignmentDetails'">Assignment One</li>
      <li onclick="window.location = '/assignmentDetails'">Assignment Two</li>
      <li onclick="window.location = '/assignmentDetails'">Assignment Three</li>
      <li onclick="window.location = '/assignmentDetails'">Assignment Four</li>
      <li onclick="window.location = '/assignmentDetails'">Assignment Five</li>
      <li onclick="window.location = '/assignmentDetails'">Assignment Six</li>
    </ul>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
