<div class="mycard mt-5 pt-3">
  <div class="mt-5">
    <h1 class="mb-3">Today's Classes</h1>
    <ul class="mycard mb-3">
      <li onclick="window.location = '/upcomingClassDetails'">Class One</li>
      <li onclick="window.location = '/upcomingClassDetails'">Class One</li>
    </ul>
    <a href="/classes" class="text-primary text-decoration-none mt-5"
      >View All</a
    >
  </div>
  <div class="mt-5">
    <h1 class="text-body-emphasis mb-3">Assignments</h1>
    <ul class="mycard mb-3">
      <li onclick="window.location = '/assignmentDetails'">Assignment One</li>
      <li onclick="window.location = '/assignmentDetails'">Assignment One</li>
    </ul>
    <a href="/assignments" class="text-primary text-decoration-none mt-5"
      >View All</a
    >
  </div>
</div>
