<%- include("../partials/header.ejs") %> <%-
include("../partials/offcanvas.ejs") %>
<main>
  <%- include("../partials/main.ejs") %>
  <div class="mycard mt-5 pt-3">
    <h1 class="mb-3">CLass Members</h1>
    <ul class="mycard">
      <li onclick="window.location = '/studentDetails'">Member One</li>
      <li onclick="window.location = '/studentDetails'">Member Two</li>
      <li onclick="window.location = '/studentDetails'">Member Three</li>
      <li onclick="window.location = '/studentDetails'">Member Four</li>
      <li onclick="window.location = '/studentDetails'">Member Five</li>
      <li onclick="window.location = '/studentDetails'">Member Six</li>
    </ul>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
