<%- include("../partials/header.ejs") %> <%-
include("../partials/offcanvas.ejs") %>
<main>
  <%- include("../partials/main.ejs") %>
  <div class="mycard mt-5 pt-3">
    <h1 class="mb-3">Tutors</h1>
    <ul class="mycard">
      <li onclick="window.location = '/tutorDetails'">Lecturer One</li>
      <li onclick="window.location = '/tutorDetails'">Lecturer Two</li>
      <li onclick="window.location = '/tutorDetails'">Lecturer Three</li>
      <li onclick="window.location = '/tutorDetails'">Lecturer Four</li>
      <li onclick="window.location = '/tutorDetails'">Lecturer Five</li>
      <li onclick="window.location = '/tutorDetails'">Lecturer Six</li>
    </ul>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
