<%- include("../partials/header.ejs") %> <%-
include("../partials/offcanvas.ejs") %>
<main>
  <%- include("../partials/main.ejs") %>
  <div class="mt-5 pt-3 note-div">
    <embed
      src="software-testing.pdf"
      type="application/pdf"
      class="note rounded"
    />
  </div>
</main>
<%- include("../partials/footer.ejs") %>
