<%- include("../partials/header.ejs") %> <%-
include("../partials/offcanvas.ejs") %>
<main>
  <%- include("../partials/main.ejs") %>
  <div class="row align-items-md-stretch mycard mt-5 pt-3">
    <div class="col-md-6 align-self-center">
      <div class="info-div">
        <h1>Asingwire Dallington</h1>
        <p>Phone: 0775008904</p>
        <p>Unit Name: Software Testing</p>
        <p>Unit Code: CSE414</p>
        <p>Credit Unit: 4</p>
        <p>Role: Cordinator</p>
        <a href="/tutors" class="text-warning text-decoration-none">Tutors</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="info-div">
        <img
          src="https://www.w3schools.com/howto/img_avatar.png"
          width="200"
          height="200"
          class="rounded-circle me-2"
        />
      </div>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
